@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
.content{
    padding:20px;
    font-family: 'Raleway', sans-serif;
}
.logo{
    width:50px;
}